*{
    margin: 0;
    padding: 2px;
   
}

body{
    background-color: antiquewhite;
}

h1 {

    font-size: 90px;
    display: flex;
    justify-content: center;
    text-decoration: none;

}
.entete {

    font-size: 90px;
    display: flex;
    justify-content: center;
    color: rgb(0, 58, 70);
    margin-bottom: 5%;


}


p{
font-size: 20px;
margin-top: 2%;
margin-bottom: 5%;
color: brown;
}